<app-search-box
    placeholder="Search Products"
    [(searchText)]="searchText"
    (searchTextChange)="search()">
</app-search-box>

@if(loading.isLoading()){

<app-loading></app-loading>

}

@else{

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>Code</th>

           <th>Name</th>

            <th>Category</th>

            <th>Purchase Price</th>

            <th>Selling Price</th>

            <th>Stock</th>

            <th>Minimum Stock</th>

        <th>Status</th>

            <th width="160">

                Actions

            </th>

        </tr>

    </thead>

    <tbody>

        @for(product of products(); track product.id){

        <tr>

            <td>{{ product.productCode }}</td>

            <td>{{ product.name }}</td>

            <td>{{ product.categoryName }}</td>

            <td>{{ product.purchasePrice | currency:'INR' }}</td>

            <td>{{ product.sellingPrice | currency:'INR' }}</td>

            <td>{{ product.stockQuantity }}</td>

            <td>{{ product.minimumStock }}</td>

            <td>

                @if(product.isActive){

                    <span class="badge bg-success">

                        Active

                    </span>

                }

                @else{

                    <span class="badge bg-danger">

                        Inactive

                    </span>

                }

            </td>

            <td>

                <button
                    class="btn btn-warning btn-sm me-2"
                    (click)="edit.emit(product)">

                    Edit

                </button>

                <button
                    class="btn btn-danger btn-sm"
                    (click)="delete.emit(product)">

                    Delete

                </button>

            </td>

        </tr>

        }

    </tbody>

</table>

}

<app-pagination
    [pageNumber]="pageNumber"
    [totalPages]="totalPages"
    [totalRecords]="totalRecords"
    (previous)="previousPage()"
    (next)="nextPage()">
</app-pagination>